<html> 
    <link rel="stylesheet", href="index.css">
    <script src="index.js"></script>
    <body class="b"> 
        <h1 class = "welcome">Whats Your Productivity?</h1>
        <p class="prompt">Enter Age:</p>  
        <input type="text">  
        <p class="prompt">Enter Daily Screen Time</p>
        <input type="text"> 
        <p class="prompt">Enter Social Media Hours</p>
        <input type="text">
        <p class="prompt">Enter Study Hours</p> 
        <input type="text"> 
        <p class="prompt">Enter Sleep Hours</p> 
        <input type="text"> 
        <p class="prompt">Enter Notifications Per Day</p> 
        <input type="text">
        

        <button class="getButton">Get Productivity Score</button>


       

    </body>
</html>

