<html> 
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <body class="b"> 
        
        <h1 class = "welcome">Whats Your Productivity?</h1>   

        <div class = "d">
            <p class="prompt">Enter Age:</p>  
            <input type="text" id="Age" class="field">  
            <p class="prompt">Enter Daily Screen Time</p>
            <input type="text" id="ScreenTime" class="field"> 
            <p class="prompt">Enter Social Media Hours</p>
            <input type="text" id="SocialHours" class="field"> 
            <p class="prompt">Enter Study Hours</p>
            <input type="text" id ="StudyHours" class="field"> 
            <p class="prompt">Enter Sleep Hours</p>
            <input type="text" id="SleepHours" class="field"> 
            <p class="prompt">Enter Notifications Per Day</p>
            <input type="text" id="Noti" class="field"> 
                
            <div> 
                <button class = "getButton" onclick="fetchData()">Get Productivity Score (GB)</button> 
                <button class = "getButton" onclick="fetchData2()">Get Productivity Score (NN)</button>
            </div>  
        </div>

        
       


       

    </body>
</html>

