.welcome{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 30px; 
    text-align: center;
    color: whitesmoke; 
    animation-name: headerAni; 
    animation-duration: 3s;  
    animation-fill-mode: forwards; 
    letter-spacing: 0px; 
    transition: letter-spacing 5s;  
     
    

} 
.b{
    background: linear-gradient(to right, rgba(0, 0, 255, 0.673), rgba(0, 128, 255, 0.818))
} 
@keyframes headerAni { 
    from{
        color: rgb(209, 148, 148); 
        font-size: 30px;
    }
    to{
        color: rgba(233, 233, 233, 0.963); 
        font-size: 60px;
    }

} 
.welcome:hover{
    letter-spacing: 5px;
}


 
