<html> 
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
    <body class="b"> 
        <div class = "">
        <h1 class = "welcome">Whats Your Productivity?</h1>
        <p class="prompt">Enter Age:</p>  
        <input type="text" class="field">  
        <p class="prompt">Enter Daily Screen Time</p>
        <input type="text" class="field"> 
        <p class="prompt">Enter Social Media Hours</p>
        <input type="text" class="field">
        <p class="prompt">Enter Study Hours</p> 
        <input type="text"class="field"> 
        <p class="prompt">Enter Sleep Hours</p> 
        <input type="text"class="field"> 
        <p class="prompt">Enter Notifications Per Day</p> 
        <input type="text"class="field">
        </div>

        <button class="getButton">Get Productivity Score</button>


       

    </body>
</html>

